{% extends 'base.html' %}
{% block title %}Delete a blog post{% endblock %}
{% block content %}


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" >
    <title>Accueil dev.py</title>

    

</head>
    
<body>
    
    <h1>Delete post</h1>
    <br><br>
    <h3>Delete : {{ post.title }}</h3>
        <div class="form-group"> 
            <form method="POST">
                {% csrf_token %}  
                <strong>Sure you want to DELETE this post ?</strong><br><br>
                <button class="btn btn-danger">Delete anyway</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Maybe later</a>
        </div>
      
</body>

{% endblock %}

 