{% extends 'base.html' %}
{% block content %}


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" >
    <title>Accueil dev.py</title>
    <style>       
        ul{
          list-style-type: none;
        }
      </style>
    

</head>
    
<body>
    
    <h1>dev.py</h1>
   
    <hr><br>
   
    <ul>
    {% for post in object_list %}
        <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a>
            || {{ post.author.first_name }} {{ post.author.last_name }} - 
            {{ post.post_date }}
            <a href="{% url 'update_post' post.pk %}"><button class="btn btn-secondary btn-sm mb-2">Edit</button></a>
            <a href="{% url 'delete_post' post.pk %}"><button class="btn btn-danger btn-sm mb-2">Delete</button></a><br/>
        {{ post.body }}</li>
        
    {% endfor %}
    </ul>
    
</body>

<br><hr>

<footer>  
    <a href="https://github.com/erwan-rozet" class="lien-icone" target="_blank">
    <img src="static/images/github.png"  class="lien-icone" alt="Logo GitHub" >
    </a>
</footer>

{% endblock %}

